@define-color base #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust #dce0e8;
@define-color text #4c4f69;
@define-color subtext0 #6c6f85;
@define-color overlay0 #9ca0b0;
@define-color surface0 #ccd0da;
@define-color blue #1e66f5;
@define-color lavender #7287fd;
@define-color sky #04a5e5;
@define-color green #40a02b;
@define-color yellow #df8e1d;
@define-color red #d20f39;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
}

window#waybar {
    background: @crust;
    color: @text;
}

#workspaces button {
    min-width: 0;
    padding: 0 8px;
    background: transparent;
    color: @text;
    border-bottom: 2px solid @lavender;
}

#window {
    padding: 0 8px;
    color: @text;
    border-bottom: 2px solid @lavender;
}

#clock {
    padding: 0 6px;
    border-bottom: 2px solid @lavender;
}

#battery,
#cpu,
#memory,
#disk,
#network,
#backlight,
#wireplumber {
    padding: 0 6px;
}

#tray {
    padding: 0;
    margin-left: 6px;
    margin-right: 6px;
}

#custom-power {
    padding: 0 12px 0 6px;
    color: #000000;
    font-size: 12px;
}

#custom-power:hover {
    background: @surface0;
}

#battery.warning {
    color: @yellow;
}

#battery.critical,
#cpu.warning,
#memory.warning {
    color: @red;
}

#network.disconnected,
#wireplumber.muted {
    color: @yellow;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
