# ls -> eza
if type eza &> /dev/null; then
  alias ls=eza
else
  alias ls="ls --color=auto"
fi

# ls
alias ll="ls -alF"
alias la="ls -A"
alias l=ls
# alias l="ls -CF"

# editor
if type nvim &> /dev/null; then
  alias vim=nvim
fi
alias v=vim
alias vi=vim
alias vf="v \$(fzf)"

# rm -> trash-put
if type trash-put &> /dev/null; then
  alias rm=trash-put
fi

# grep -> ripgrep
if type rg &> /dev/null; then
  alias grep=rg
fi

# cat -> bat
if type bat &> /dev/null; then
  alias cat=bat
fi

# lazygit
alias lg=lazygit

# enable/disable backlight auto off
alias ensleep="(xset s on +dpms)"
alias disleep="(xset s off -dpms)"

# pacman
alias pacmanls="pacman -Qqen"
alias aurls="pacman -Qqem"

# clipboard
alias clip="xclip -selection c"

# cpp
function cbuild() {
  # command mkdir -p build
  # cmake -GNinja -B build -S .
  cmake -B build -S .
  cmake --build build -- $1
}
function crun() {
  if [ $# = 0 ]; then
    command echo "Error: Specify target"
    return
  fi
  cbuild $1
  build/$1 ${@:2}
}

# tex
alias lm="latexmk -pvc -halt-on-error"
