[user]
  email = rew.7cc.12.1f@gmail.com
  name = knrew

[https]

[http]


[include]
  ; path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
  ; features = catppuccin-latte
  navigate = true

[core]
  pager = delta --light

[interactive]
  diffFilter = delta --color-only

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

; [url "github:"]
;   InsteadOf = https://github.com/
;   InsteadOf = git@github.com:


