theme "catppuccin-latte"

simplified_ui true
pane_frames false
auto_layout true
default_mode "locked"
mouse_mode true
session_serialization true
serialization_interval 60
show_startup_tips false

default_layout "compact"

keybinds clear-defaults=true {
  locked {
    bind "Alt l" { SwitchToMode "locked"; }
    bind "Alt n" { SwitchToMode "normal"; }
    bind "Alt p" {SwitchToMode "pane"; }
    bind "Alt t" {SwitchToMode "tab"; }
    bind "Alt r" { SwitchToMode "resize"; }

    bind "Alt f" { ToggleFocusFullscreen; }
    bind "Alt h" "Alt Left" { MoveFocus "Left"; }
    bind "Alt j" "Alt Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" { MoveFocus "Up"; }
    bind "Alt l" "Alt Right" { MoveFocus "Right"; }
    bind "Alt Shift h" "Alt Shift Left"  { GoToNextTab; }
    bind "Alt Shift l" "Alt Shift Right" { GoToPreviousTab; }
  }

  normal {
    bind "Alt l" "Esc" { SwitchToMode "locked"; }
    bind "Alt n" { SwitchToMode "normal"; }
    bind "Alt p" {SwitchToMode "pane"; }
    bind "Alt t" {SwitchToMode "tab"; }
    bind "Alt r" { SwitchToMode "resize"; }
  }

  pane {
    bind "Alt l" "Esc" { SwitchToMode "locked"; }
    bind "Alt n" { SwitchToMode "normal"; }
    bind "Alt p" {SwitchToMode "pane"; }
    bind "Alt t" {SwitchToMode "tab"; }
    bind "Alt r" { SwitchToMode "resize"; }

    bind "Alt h" "Alt Left" "Left" { MoveFocus "Left"; }
    bind "Alt j" "Alt Down" "Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" "Up" { MoveFocus "Up"; }
    bind "Alt l" "Alt Right" "Right" { MoveFocus "Right"; }
    bind "Alt Shift h" "Alt Shift Left" "Shift Left"  { GoToNextTab; }
    bind "Alt Shift l" "Alt Shift Right" "Shift Right" { GoToPreviousTab; }

    bind "n" { NewPane; }
    bind "d" { NewPane "down"; }
    bind "r" { NewPane "right"; }
    bind "s" {NewPane "stacked"; }

    bind "Shift q" { CloseFocus; }

    bind "Shift r" { SwitchToMode "renamepane"; PaneNameInput 0; }
  }

  renamepane {
        bind "Enter" { SwitchToMode "pane"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "pane"; }
  }

  tab {
    bind "Alt l" "Esc" { SwitchToMode "locked"; }
    bind "Alt n" { SwitchToMode "normal"; }
    bind "Alt p" {SwitchToMode "pane"; }
    bind "Alt t" {SwitchToMode "tab"; }
    bind "Alt r" { SwitchToMode "resize"; }

    bind "Alt h" "Alt Left" "Left" { MoveFocus "Left"; }
    bind "Alt j" "Alt Down" "Down" { MoveFocus "Down"; }
    bind "Alt k" "Alt Up" "Up" { MoveFocus "Up"; }
    bind "Alt l" "Alt Right" "Right" { MoveFocus "Right"; }
    bind "Alt Shift h" "Alt Shift Left" "Shift Left"  { GoToNextTab; }
    bind "Alt Shift l" "Alt Shift Right" "Shift Right" { GoToPreviousTab; }

    bind "n" "Enter" { NewTab; }
    bind "Shift q" { CloseTab; }
  }

  resize {
    bind "Alt l" "Esc" { SwitchToMode "locked"; }
    bind "Alt n" { SwitchToMode "normal"; }
    bind "Alt p" {SwitchToMode "pane"; }
    bind "Alt t" {SwitchToMode "tab"; }
    bind "Alt r" { SwitchToMode "resize"; }
  }
}
