[Unit]
Description=Idle management for the niri graphical session
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 600 "/usr/bin/swaylock -f" timeout 660 "/usr/bin/niri msg action power-off-monitors" resume "/usr/bin/niri msg action power-on-monitors" before-sleep "/usr/bin/swaylock -f"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
